body {
  color: #555;
  background-color: #ccc;
  text-align: center;
}

.panel{
    background-color: #e5e5e5;
}

.row{
    margin: 20px 0px;
}

h4{
    margin-top: 40px;
}

.load-image-block{
    margin-top: 50px;
}

input,
.btn-success{
    margin-top: 10px;
}